<html>
    <head>
    <title>Desafio GoNode 01
    </title>
    </head>
    <body>
    <form action="/check" method="POST">
      <input placeholder="Digite seu nome" type="text" name="nome" />
      <input placeholder="Nascimento DD/MM/YYYY" type="text" name="data" />
      <button type="submit">Validar</button>
    </form>
    </body>

</html>
